@page "/accounts"

<PageTitle>Accounts</PageTitle>

<h1>Accounts</h1>

@if (Data != null)
{
    <p>Accounts data</p>
    <table class="table">
        <thead>
        <tr>
            <th>Account id</th>
            <th>Owner</th>
            <th>Creation date</th>
            <th>Closing date</th>
            <th></th>
        </tr>
        </thead>
        @foreach (var result in Data)
        {
            <tr>
                <td>@result.Id</td>
                <td>@result.OwnerName</td>
                <td>@result.CreationDate</td>
                <td>@result.ClosingDate</td>
                <td>
                    <button @onclick="LoadAccount">Load account</button>
                </td>
            </tr>
        }
    </table>
}


@code {
    
}