<div class="row">
    <div class="col-3">Operation type</div>
    <div class="col-3">
        <select class="form-select" @bind="OperationType">
            <option>Replenishment</option>
            <option>Withdrawn</option>
        </select>
    </div>
    <div class="col-2">
        Amount
    </div>
    <div class="col-2">
        <input type="number" @bind="Amount"/>
    </div>
    <div class="col-2">
        <button @onclick="OnCreateOperationClick">Add</button>
    </div>
</div>