@page "/account-generation"
@using EventSourcing.Net.Abstractions.Contracts

<PageTitle>Account generator</PageTitle>

<h1>Account generator</h1>

<p>Generate random data for a random account</p>

<button class="btn btn-primary" @onclick="CreateAccount">Create test account</button>

@if (Results.Any())
{
    <p>These commands were produced</p>
    <table class="table">
        <thead>
        <tr>
            <th>Command type</th>
            <th>Command id</th>
            <th>Is accepted</th>
            <th>Has changes</th>
        </tr>
        </thead>
        @foreach (ICommandExecutionResult<Guid>? result in Results)
        {
            <tr>
                <td>@result.CommandType.Name</td>
                <td>@result.CommandId</td>
                <td>@result.IsAccepted</td>
                <td>@result.HasChanges</td>
            </tr>
        }
    </table>
}